<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap" rel="stylesheet">
    <title>ADMIN | KIIT-ICT</title>
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }

        body {
            background: #a8ff78;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #78ffd6, #a8ff78);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        h1 {
            font-weight: 800;
            letter-spacing: 5px;
            color: black;
            font-size: 40px;
        }

        h3 {
            letter-spacing: 2px;
        }

        .head {
            text-align: center;
            margin: 50px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .data {
            background-color: #26de81;
            padding: 50px;
            border-radius: 10px;
            text-align: center;
            -webkit-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.5);
        }

        .data div {
            margin-top: 20px;
            border: 1px solid white;
            padding: 0px 20px;
            cursor: pointer;
            transition: 500ms;
        }

        a {
            text-decoration: none;
            color: black;
        }

        .data div:hover {
            color: white;
            border: 1px solid black;
        }

        #logout a:hover {
            color: #f53b57;
        }

        .home button:hover {
            color: white;
            border: 1px solid black;
            transform: scale(1.1);
        }

        .home {
            margin-top: 65px;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .home button {
            border: none;
            height: 45px;
            width: 190px;
            /* background: #26de81; */
            background: transparent;
            font-weight: bold;
            letter-spacing: 2px;
            font-size: 19px;
            border: 1px solid white;
            cursor: pointer;
            transition: 500ms;
        }

        input:focus,
        button:focus {
            outline: none;
        }
    </style>
</head>

<body>
    <div class="head">
        <h1>ADMIN PANEL</h1>
    </div>
    <div class="container">
        <div class="data">
            <div>
                <h3><a href="/admin/open">OPEN PROBLEMS</a></h3>
            </div>
            <div>
                <h3><a href="/admin/closed">CLOSED PROBLEMS</a></h3>
            </div>
            <div>
                <h3><a href="/allProb">ALL PROBLEMS</a></h3>
            </div>
            <div id="logout">
                <h3><a href="/logout">LOGOUT</a></h3>
            </div>
        </div>
    </div>
    <div class="home">
        <button onclick="window.location.href='/'">GO HOME</button>
    </div>
</body>

</html>